# ignore .git and .cache folders
**/.git
**/.cache

# ignore all *.class files in all folders, including build root
**/*.class

# ignore folder target
**/target

# Mac OS
**/.DS_Store

# Eclipse
.setting
.settings
.classpath
.project
.factorypath

# VS Code
.vscode/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr